{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Phones</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid me-5">
        <a class="navbar-brand text-light ms-5 ps-5" href="#">LAB4 DNICK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-column justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
<h3 class="text-center pt-3 pb-5 bg-secondary-subtle">Сите мобилни уреди</h3>
    <div class="row h-50">
        {% for phone in phones_list %}
            <div class="col-3 mb-4 d-flex flex-column justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ phone.slika.url }}" class="card-img-top mx-auto d-block" style="width: 70%; height: 200px;"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ phone.model }}</h5>
                        <p class="card-text text-center">{{ phone.proizvoditel.ime }}</p>
                        <p class="card-text text-center">Tip na ured: {{ phone.tip }}</p>
                        <p class="card-text text-center">{{ phone.cena }} ден</p>

                        <a href="{% url 'details' phone.id %}" class="btn btn-outline-secondary text-center text-dark w-100">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>